<?xml version="1.0"?>

<!-- File Name: Inventory01_1.xml -->

BOOK
	{display:block;
	margin-top:12pt;     
	font-size:10pt;
	color:#003}  
TITLE        
	{font-style:italic}

AUTHOR   
   {font-weight:bold}